.skills{
    min-height: 100vh;
}
.skills h2{
    text-align: center;
    font-size: 4.6rem;
    visibility: hidden;
}
.skills .skillsTitleShow{
    visibility: visible;
}
.skills h2 span{
    color: var(--main-color);
}
.mySkills{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.skill{
    padding: 25px;
    background-color: var(--skillBg-color);
    border-radius: 15px;
    margin-top: 50px;
    transition: 0.4s ease;
    cursor: pointer;
    flex-grow: 0;
    flex-basis: 31%;
    visibility: hidden;
    color:#fff;
}
.skillShow{
    visibility: visible;
}
.skill:hover{
    box-shadow: 0 0 2rem var(--skillTitle-color);
}
.skillIcon{
    text-align: center;
}
.skillIcon svg{
    width: 75px;
    height: 75px;
    fill: var(--skillTitle-color);
}
.skill h3{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 15px;
    color: var(--skillText-color);
}
.levelBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.levelBlock span{
    opacity: 0.7;
}
.levelBlock svg{
    font-size: 25px;
}
.skillLevel{
    display: flex;
    margin-left: 5px;
}
.skillsDescription{
    text-align: justify;
    padding-top: 50px;
    opacity: 0.7;
    visibility: hidden;
}
.skillsDescriptionShow{
    visibility: visible;
}

@media screen  and (max-width: 1100px){
    .skills h2{
        font-size: 4.4rem;
    }
}
@media screen  and (max-width: 600px){
    .skills h2{
        font-size: 3.8rem;
    }
}
@media screen  and (max-width: 460px){
    .skillIcon svg{
        width: 50px;
        height: 50px;
    }
    .levelBlock svg{
        font-size: 18px;
    }
    .skill h3{
        font-size: 2rem;
    }
    .skills h2{
        font-size: 3.2rem;
    }
    .skillsDescription{
        font-size: 0.8rem;
        line-height: 15px;
    }
}
