.contact {
    min-height: 100vh;
}

.contact h2 {
    font-size: 4.6rem;
    text-align: center;
}

.contact h2 span {
    color: var(--main-color)
}

.formBlock {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

 span.oneInputBlock {
    position: relative;
    flex-basis: 48%;
}


.fullInput {
    margin-top: 25px;
}
.fullInput span.oneInputBlock{
    position: relative;
    flex-basis: 100%;
    display: block;
    min-height: 500px;
}

input {
    width: 100%;
    border: none;
    background-color: var(--skillBg-color);
    opacity: 0.5;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    color: var(--text-color);
}

textarea {
    width: 100%;
    min-height: 500px;
    resize: none;
    border: none;
    background-color: var(--skillBg-color);
    opacity: 0.5;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    color: var(--text-color);
}

input::placeholder, textarea::placeholder {
    color: var(--formPlaceholder-color);
}

.errorMessage {
    position: absolute;
    right: 0;
    top: 0;
}
.errorMessage[title]:hover::after {
    content: attr(title);
    position: absolute;
    width: 125px;
    padding: 15px 10px;
    border-radius: 8px;
    top: -100%;
    left: 50px;
    background-color: #d53838;
    z-index: 9999;
    font-size: 18px;
}


/* Success Popup*/
.popupWrapper div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--skillBg-color);
    border-radius: 10px;
    z-index: 9999;
    transition: all 0.2s linear;
}

.popupWrapper div.popupBlock {
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 870px){
    .inputBlock{
        flex-direction: column;
    }
    span.oneInputBlock:first-child{
        display: block;
        flex-basis: 100%;
        margin-bottom: 25px;
    }
    .fullInput span.oneInputBlock{
        min-height: 350px;
    }
    textarea{
        min-height: 350px;
    }
}
@media screen and (max-width: 576px){
    .contact h2 {
        font-size: 3.6rem;
    }
    .formBlock{
        width: 100%;
        margin: 0;
    }
    .errorMessage[title]:hover::after {

        top: 10px;
        left: -125px;
        font-size: 16px;

    }
}