.copyRight{
    padding: 15px 0;
    background-color: #08090b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
}
.copyRight pre{
    display: flex;
    align-items: center;
    font-family: Monospaced;
}
.copyRight p svg{
    margin:0 5px;
}