section.contact{
    background-color: #0f1215;
}
.contact h2{
    font-size: 4.6rem;
    text-align: center;
    color: #fff;
}
.contact h2 span{
    color:var(--main-color)
}
.contactMe{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.contacts{
    display: flex;
    flex-direction: column;
}
.contacts span{
    display: flex;
    align-items: center;
    padding: 5px;
    color: #fff;
}
.contacts span svg{
    font-size: 24px;
    color: #00eeff;
    margin-right: 15px;
}

@media screen and (max-width: 870px){
    .contactMe{
        justify-content: space-between;
    }
    .contactMe div{
        margin-bottom: 10px;
    }
    .contacts span{
        margin: 10px 0;
    }
}


@media screen and (max-width: 576px){
    .contact h2 {
        font-size: 3.6rem;
    }
    .contactMe{
        flex-direction: column;
        align-items: center;
    }
    .contacts{
        margin-left: -45px;
    }
}