*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: monospace;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
    --skillBg-color:#313743;
    --skillTitle-color:#0ef;
    --skillText-color:#fff;
    --skillStar-color:#0ef;
}
section{
    max-width: 100%;
    overflow: hidden;
    padding: 20px 9%;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 2rem;
    overflow-x: hidden;
}

.btnBlock{
    margin-top: 30px;
}
.textCenter{
    text-align: center;
}
.animatedText{
    animation: logoAnimated infinite 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transition: all 0.4s ease;
}

/* Keyframes */

@keyframes logoAnimated {
    0% {
        text-shadow: 0 0 0.2rem var(--main-color);
    }

    50% {
        text-shadow: 0 0 2rem var(--main-color);
    }

    100% {
        text-shadow: 0 0 0.2rem var(--main-color);
    }
}